

.sun{
    background-color: black;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    position: absolute;
    left: 65%;
    bottom: -200px;
    box-shadow: 0px 0px 50px 20px orange;
    animation: sunrise 5s forwards;

}

@keyframes sunrise{
    100%{
        transform: translateY(-600px);
    }
}

.ground {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px; 
    background-color: black; 
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3); 
  }

.container {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
  }
  
  /* Name title positioned at the bottom */
.nameTitle {
    position: absolute;
    bottom: -300px;
    left: 50px; 
    font-size: 200px;
    color: black;
    padding: 10px; /* Optional: some padding */
    text-align: center;
    font-weight: 650;
  }

body {

    font-family: 'Source Serif 4', serif;
    font-weight: default;
    font-style: normal;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(122,62,0,1) 61%, rgba(193,85,0,1) 100%); 
    color: white;
    overflow: hidden;
    position: relative;
    margin: 0;
    justify-content: center;
    display: flex;

}
