---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import "../styles/base.css";

---

<Layout>
	<body>

		<div class="sun"></div>
		<div class="ground"></div>
		
		<div id="tulip">
			<img src="src/assets/tulip.svg" alt="tulip image" width="350" height="350">
		</div>
		
		<div class="container">
			<div class="nameTitle">tulip.</div>
		</div>
</body>
</Layout>
 